{% extends 'base.html'%}
{% load static %}

{% block title_name %}
Возврат билета
{% endblock %}

{% block main_class_name %}container{% endblock %}

{% block content %}
<div class="ticket-refund">
    <section class="section-card mb-3" id="ourCinemaHall">
        <h1>Наш кинотеатр</h1>
        <p>
            Какое-то описание преимуществ кинотеатра
        </p>
        <a href="{% static 'img/our_cinema_hall.jpg'%}" class="tutorial-img mb-3 glightbox">
            <img class="tutorial-img mb-3" src="{% static 'img/our_cinema_hall.jpg'%}" alt="Наш кинотеатр">
        </a>
    </section> 
    <section class="section-card mb-3" id="ourRules">
        <h1>Наши правила</h1>
        <p>
            Государственное автономное учреждение культуры Ямало-Ненецкого автономного округа «Окружной Центр национальных культур». </br>
            Часы работы: с 8.30 до 23:00 ежедневно</br>
            Уважаемые посетители!</br>
            Убедительно просим при посещении Учреждения придерживаться следующих правил:</br>
            1. Соблюдайте чистоту, будьте вежливы и аккуратны;</br>
            2. Вы можете беспрепятственно ходить по территории Учреждения за исключением служебных помещений, мест прохождения занятий, огороженных секторов здания и помещений, закрытых для посещения;</br>
            3. Источники открытого огня и пиротехника категорически запрещены;</br>
            4. У нас не курят;</br>
            5. Приходите к нам в трезвом состоянии, пронос и распитие спиртных напитков строго запрещены;</br>
            6. Не приводите с собой домашних животных;</br>
            7. Запрещается приносить с собой оружие любых видов, в т.ч. имитацию оружия;</br>
            8. Не следует использовать велосипеды, самокаты, коньки, роликовые коньки и иные подобные транспортные или спортивные средства для передвижения по Учреждению, если иное не предусмотрено правилами мероприятия;</br>
            9. Сопровождение детей дошкольного возраста законными представителями обязательно;</br>
            10. Запрещается расклеивать объявления, распространять рекламную информацию и осуществлять торговую деятельность без разрешения администрации Учреждения;</br>
            11. Любительская и профессиональная фото/видео-съёмка показов фильма строго запрещена.</br>
            Администрация Учреждения может потребовать покинуть здание нарушителей данных правил, а при наличии оснований – проинформировать органы охраны правопорядка.</br>
        </p>

        <a class="a-colored" href="{% static 'files/Приказ_№_24_П_об_утверждении_Правил_посещения_кинотеатра.pdf'%}">Приказ_№_24_П_об_утверждении_Правил_посещения_кинотеатра.pdf</a>
    </section>

    <section class="section-card mb-3" id="ticketRefund">
        <h1>Порядок и условия возврата билетов</h1>
        <p>
            Возврат билетов допускается в случаях, предусмотренных действующим законодательством Российской Федерации, и осуществляется по письменному заявлению Покупателя с указанием причин возврата и приложением к заявлению купленных Билетов, если Билеты были ранее получены Покупателем.
            Заявление, заполненное и подписанное Покупателем, должно быть передано администратору Кинотеатра, который фиксирует точное время подачи заявления. Денежные средства возвращаются банком-эмитентом или платежной системой в соответствии с правилами, установленными соответствующим банком-эмитентом или платежной системой.
            Возврат денежных средств осуществляется тем же способом, которым производилась оплата (на банковский счет Покупателя — при оплате банковской картой или на счёт Покупателя в электронной платёжной системе — при оплате через электронную платежную систему).
        </p>

        <h1>Как вернуть билет</h1>
        <p>
            Вернуть билет можно двумя способами: </br>
            <strong>Способ первый:</strong> </br>
            Обратиться на горячую линию сети кинотеатров "Премьер" по следующему номеру телефона: <a class="a-colored" href="tel:+7(34337)2-67-26">+7 (34337) 2-67-26</a> </br>
            <strong>Способ второй:</strong> </br>
            Перейти на сайт сети кинотеатров "Премьер": <a class="a-colored" href="https://premierzal.ru/salehard">premierzal.ru/salehard</a> </br>
            Спуститься в самый низ страницы и найти в его подвале кнопку "Отмена заказа" </br>
        </p>
        <a href="{% static 'img/ticket-refund-btn.png'%}" class="tutorial-img mb-3 glightbox">
            <img class="tutorial-img mb-3" src="{% static 'img/ticket-refund-btn.png'%}" alt="Кнопка отмены заказа">
        </a>
        <p>
            Нажмите на эту кнопку и у вас сверху появится форма для заполнения обращения на отмену билета </br>
            Укажите в данную форму следующую информацию: </br>
            1. Номер заказа билета </br>
            2. Номер заказа бара </br>
            3. Свою контактную электронную почту </br>
            После отправки обращения на отмену билета ожидайте ответа на указанную электронную почту
        </p>

        <a href="{% static 'img/ticket-refund-form.png'%}" class="tutorial-img mb-3 glightbox">
            <img class="tutorial-img mb-3" src="{% static 'img/ticket-refund-form.png'%}" alt="Форма заполнения обращения на отмену билета">
        </a>

        <h1>Остались вопросы?</h1>
        <p>
            Если у вас остались еще вопросы по возврату денежных средств за билет, то можете обратиться в личные сообщения в нашу официальную группу во ВКонтакте: <a class="a-colored" href="https://vk.com/ocnk89">vk.com/ocnk89</a>. С вами свяжется первый освободившийся менеджер, чтобы помочь с возвратом билета 
        </p>
    </section>

    <section class="section-card mb-3" id="howComeToUsSection">
        <h1>Как добраться до нас</h1>

        <div class="row how-come-to-us">
            <p>
                До здания Окружного Центра национальных культур можно доехать:</br>
                    - на автобусах № 2, 5</br>
                    - на маршрутных такси № 2,5</br>
                Остановка "ОЦНК"
            </p>
            <p>
                Адрес: г. Салехард, ул. Республики, д. 74
            </p>
        </div>
        <div class="row hot-come-to-us map-container">
            <div class="map-overlay"></div>
            <iframe loading="lazy" src="https://yandex.ru/map-widget/v1/?um=constructor%3A4f473446019094de478ba0bcb06c7ea3f79bd168deeea7743401a674c3aab50f&amp;source=constructor" width="100%" height="400px" frameborder="0" id="yandexMap"></iframe>
        </div>
    </section>
</div>
{% endblock %}

{% block include_scripts %}
    <script src="{% static 'js/header_handler.js' %}"></script>
    <script>
        const lightbox = GLightbox({
            selector: '.glightbox'
        });
    </script>
{% endblock %}